/* ===================== FONTS =================== */
@font-face {
    font-family: SSPU;
    src: url('../../fonts/Sweet Sensations Personal Use.ttf');  
}
@font-face {
    font-family: AI;
    src: url('../../fonts/AverItalic.ttf');
}
@font-face {
    font-family: BD;
    src: url('../../fonts/Beillingsday.otf');
}
/* ============================================== */

/* ====== THE MAIN ABOUT US (H2) STYLING ======== */
.AUH2 {
	font-size: 50px;
   font-family: 'Playball', cursive;
   color:red;
}
/* ============================================== */

/* ====== THE STYLING FOR THE ITEMS LISTED ====== */
#MainLI {
	text-align: center;
	font-size: 20px;
	color: #122074;
}
/* ============================================== */

/* =========== THE DROP DOWN STYLING ============ */
.ProductsDropDown {
	color: blue;
	text-align: center;
}

.ProductsDropDown h2 {
font-family: 'Playball', cursive;
	font-size: 40px;
	color black;
  
}

.ProductsDropDown p {
	font-family: AI;
	font-size: 25px;
	margin-top: -8px;
}
/* ============================================== */
.prdli
{
	color:#a16767;
}
#MainLI{
font-family: 'Playball', cursive;
}
